.ironmanhover {
    border: 5px outset red;
        background-color: rgba(173, 216, 230, 0);
        text-align: center;
}
 body {
     background-image: url(cap%20america.avif);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
      height: 100%;
     color: #f58ef5
 }
img {
  max-width: 10%;
  height: auto;
    border: 5px solid #c62323;
}