body {
    font-family: sans-serif;
    color: white ;
    background-image: url("stars.webp") ;
    width:700px ;
    margin:auto auto auto auto ;
}

h1 {
    font-size:50px ;
    text-align:center ;
}

h2 {
    text-align:right;
}

ul {
    list-style-type: none;
    text-align:center ;
  color:white;
}



nav li {
    background-color:white ;
    margin:20px ;
    padding:10px ;
    border-radius:30px ;    
}

.photo img {
    width:400px ;
    border-radius:30px ;  
}

.thumbs img {
    height: 70px;
    border-radius:10px ;    
}

.droid {
    background-color:grey ;
    padding:15px ;
    margin: 40px;
    border:white solid 5px ; ;
    border-radius:40px ;
}

.droid .photo {
    float: left;
    margin:20px ;
}

.droid:nth-child(even) .photo {
float:right ;
}

.desc {
    margin:20px;
}


.droid .thumbs {
       flex-direction:row;
}
.thumbs {
  flex-direction:row;
}
.caption {
  flex-direction:;
}
li {
  Display:inline-block ;
}
copyrightNotice. {
  text-color: white;
}
--
